body{
    background-color:azure;
    justify-content: center;
    align-items:center;
    width:100%;
}
*{
    margin: 0;
}
.nav{
    margin-top: 0px;
    display:flex;
    background-color:rgb(5, 165, 5);
    color:white;
    width:100%;
    gap:20px;
    height:100px;
    align-items: center;
    justify-content: space-between;
    padding:10px;

}
.nav h1{
    display:flex;
    flex-flow: row;
    justify-content: flex-start;
}
.nav a{
    color:white;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    
}
.nav button{
    border-radius:50%;
    max-width: 50px;
    max-height:30px;
    border:1px solid black;
}
.navcontent{
    display:flex;
    justify-content: space-between;
    gap:10px;

}
.intro{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(238, 233, 227);
    border-radius: 25px;
    text-align: center;

}
.intro p{
    gap:20px;
    font-size: 1.5rem;
    font-family: sans-serif;
    color:rgb(197, 158, 75)

}
.search{
    display:flex;
    background-color:aqua;
    flex-direction: column;
    gap: px;
    border:none;
    border-radius:10px;
}
.search input{
    padding:10px;
    border:none;
    border-radius:10px;
}
#describe{
    display:flex;
    flex-direction: column;
    padding:20px;
    gap:5px
}
.container{
    display:grid;
    width:100%;
}
.cards{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    align-items: center;
    justify-content: center;
    padding:12px;
    background-color:aqua;

}
.card{
     display:flex;
    flex-direction:column;
    gap:1rem;              
    align-items: center;
    text-align: center;
    justify-content: flex-start;          
    background-color:#fff; 
    color:#222;
    padding:16px;
    border-radius:10px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    border:1px solid rgba(0,0,0,0.06);
    overflow:hidden;
    box-sizing:border-box;
}
.card img{
    width:300px;
    height:150px;
}
.card ul{
    list-style: none;
    text-align: left;
}